<div class="container">


    <h1 class="title">
        <span ng-show="!data.id">Add</span>

        <span ng-show="data.id">Edit</span> Employee
    </h1>


    <form class="form__card">
        <div class="form__select-block">
            <label class="form__select-label form__card-label">Department:</label>
            <select class="form__card-select form__select" ng-model="data.department"
                ng-options="department for department in select"></select>
        </div>
        <md-input-container class="md-icon-float md-block">
            <label>Full name:</label>
            <input type="text" ng-model="data.username" required>
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
            <label>Notes:</label>
            <textarea name="" id="" rows="5" ng-model="data.textarea"></textarea>
        </md-input-container>
        <div class="form__card-buttons">
            <md-button class="md-raised md-primary" type="submit" name="Save" ng-click="pushData(data)">Save</md-button>
            <md-button id="cancelButton" class="md-raised md-primary " type="submit" name="Cancel" ng-click="cancel()">
                Cancel</md-button>
        </div>
    </form>
</div>