<div class="container">
    <form name="search" class="form__search">

        <md-input-container class="md-icon-float md-block">
            <label>Search for employee</label>
            <md-icon md-svg-src="img/ic_search_24px.svg" class="name"></md-icon>
            <input ng-model="search.employee" type="text">
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
            <label>Search for employee</label>
            <md-icon md-svg-src="img/ic_select_24px.svg" class="select"></md-icon>
            <md-select ng-model="selectedDepartment" ng-model-options="{trackBy: '$value.id'}">
                <md-option ng-value="department" ng-repeat="department in departments">{{ department.name }}</md-option>
            </md-select>
        </md-input-container>
        <md-button class="md-raised md-primary form__add" type="submit" name="add">Add</md-button>

    </form>

</div>