<div class="container">
    <h1 class="title">About employee</h1>
    <div class="view__department">
        <p>Department:</p>
        <input class="view__inputs" type="text" ng-model="data.department" readonly="readonly">

    </div>

    <div class="view__username">

        <p>Full name:</p>
        <input class="view__inputs" type="text" ng-model="data.username" readonly="readonly">

    </div>
    <div class="view__notes">
        <p>Notes:</p>
        <textarea class="view__inputs" name="" id="" rows="10" ng-model="data.textarea" readonly="readonly"></textarea>
    </div>

    <md-button id="back" class="md-raised md-primary employees__table-button" ng-click="cancel()">Back</md-button>
</div>