* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body,
html {
    min-height: 100%;
    width: 100%;
}
.container {
    position: relative;
    padding: 15px;
    width: 768px;
    margin: 0 auto;
    background-color: #dff2e4;
}
form {
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
}
.form__field {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form__input {
    position: relative;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    padding-left: 10px;
    height: 30px;
}

.form__label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 300;
}
.title {
    font-weight: 700;
    text-align: center;
    font-size: 35px;
}
.md-raised {
    border-radius: 15px;
    height: 40px;
    width: 100%;
    margin: 0;
}
.form__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.form__buttons > .md-raised {
    width: 45%;
}
.form__search {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.form__search > .form__add {
    flex-basis: 10%;
}
.form__search > .md-block {
    width: 40%;
}
.md-errors-spacer {
    display: none;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th {
    border: 1px solid black;
}
td {
    border: 1px solid black;
}
.form__select {
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    outline: none;
}
.form__select-label {
    color: rgba(0, 0, 0, 0.54);
}
.form__card {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}
.form__select-block {
    display: flex;
    flex-direction: column;
}
.form__card-select {
    width: 100%;
}
.form__card-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.form__card-buttons .md-primary {
    width: 20%;
}
.form__card-label {
    margin-bottom: 5px;
}
#cancelButton {
    background-color: #fff;
    color: black;
}
#employee-btn {
    background-color: transparent;
    border-radius: 0%;
    color: green;
}
.employees__table-button_red{
    color: red !important;
}
.select {
    color: rgba(0,0,0,0.87);
}

/* .employees__table_tac {
    text-align: center;
} */
td:nth-child(1), td:nth-child(3) {
    text-align: center;
}
td:nth-child(1) {
    width: 30px;
}
td:nth-child(2) {
    padding-left: 10px;
    cursor: pointer;
}
th {
    line-height: 41px;
}
#back {
    width: 150px;
    background-color: transparent;
    color: black;
    border: 1px solid black;
}
.view__inputs {
    margin: 15px 0 ;
    background-color: transparent;
    border: none;
    resize: none;
    outline: none;
    cursor: default;
    font-size: 20px;
    padding-left: 0;
    width: 100%;

}
